*, *:after, *:before {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style: none;
}

ul li:not(:last-child){
    margin-right: 40px;
}

.header--wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header {
    z-index: 1;
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
}

.header__logo {
    font-size: 20px;
    color: #2d3436;
}

.header__nav {
    display: none;
}

.logo--bold {
    color: black;
    font-weight: 700;
}

.section {
    color: white;
    height: 30vh;
    font-size: 30px;
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slogan--bold {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.slogan--none {
    display: none;
}

.projects--wrapper {
    width: 90%;
    margin: 0 auto;
}

.projects__title {
    margin: 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.project {
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}

.project__title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
}

.project__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about__persons {
    display: flex;
    flex-direction: column;
}

.about--wrapper {
    width: 90%;
    margin: 0 auto;
}

.about__title {
    margin: 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.about__paragraph {
    margin-bottom: 20px;
}

.about__person:not(:last-child) {
    margin-bottom: 20px;
}

.about__person__image {
    height: 200px;
}

.person__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100);
}

.person__name {
    margin: 10px 0;
}

.person__role {
    color: #2d3436;
    margin: 15px 0;
}

.person__btn {
    display: block;
    text-align: center;
    background-color: #eaeaea;
    color: black;
    border: none;
    margin: 20px 0;
    padding: 10px 0;
    width: 100%;
}

.contact__title {
    margin: 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.contact--wrapper {
    width: 90%;
    margin: 0 auto;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    font-size: 17px;
    border: solid 1px #2d3436;
    padding: 10px 5px;
    margin-bottom: 10px;
    resize: none;
}

.form__btn {
    padding: 10px 20px;
    color: white;
    background: black;
}

.contain__image__container {
    height: 200px;
}

.contact__image {
    object-fit: contain;
}

@media (min-width: 1281px) {
    
}
  