*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.logo {
    color: white;
}

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(34,102,138,1) 0%, rgba(154,118,255,1) 80.6% );
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    height: 100vh;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color:white;
    text-decoration: none;
    margin-right: 20px;
}
nav a:last-child{
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.text h2::first-letter {
    color: #00b894;
    font-weight: 700;
    font-size: 27px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
}

.text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    flex: 1;
    margin-right: 10px;
}

.text>* {
    margin-bottom: 20px;
}

button {
    background-color: rgb(59,198,85);
    padding: 10px 20px;
    border:none;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.register {
    background-color: rgb(80,58,197);
}

.form {
    background-color: white;
    flex: 1;
    text-align: center;
    color: #2d3436;
}

.form h2 {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

input, select {
    background-color: #eaeaea;
    border: none;
    height: 40px;
    font-size: 15px;
    padding-left: 5px;
    margin-bottom: 10px;
    resize: none;
}