* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
}

h1 {
    font-size: 20px;
}

header, nav, footer {
    height: 10vh;
}

header, nav, aside, section, article, footer {
    border: solid 10px purple;
}

div {
    display: inline-block;
    width: 60vw;
}

aside {
    height: 70vh;
    width: 40vw;
    display: inline-block;
    vertical-align: top;
}

section, article {
    height: 35vh;
}

nav, section, article, aside, footer {
    border-top: 0;
}

aside {
    border-left: 0;
}