table, td, th {
    border: solid 1px black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

tbody tr:nth-child(odd) td:nth-child(5){
    background-color: rgb(58, 226, 17);
}

tbody tr:nth-child(even) td:nth-child(6){
    background-color: rgb(226, 17, 17);
}